*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(16, 16, 16);
    color: white;
    /* overflow: hidden; */
}
.threads-img
{max-width: 1250px;
}
.top-img{
    background: url(threads.avif);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    display: block;


}

.logo-img-container{
    display: none;
}
.logo-img{
    width: 50px;
    margin-bottom: 10px;
}
.container{
    text-align: center;
    max-width: 350px;
    margin: 0 auto;
    width: 90%;
    margin-top: 250px;

}
.title{
font-size: 14px;
font-weight: bold;
margin-bottom: 25px;

}
.login-box{
display: flex;
flex-direction: column;
gap: 8px;
}
.input{
    background-color: rgb(30, 30, 30);
    border: none;
    padding: 22px;
    border-radius: 8px;
    color: white;
    font-size: 14px;

}

.login-btn{
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 22px;
    border-radius: 8px;
    color: black;
    font-size: 14px;
}
.forgot{
    text-decoration: none;
    color: gray;
    font-size: 13px;
    margin-top: 15px;

}
.divider{
    color: gray;
}
.continue-btn{
    display: flex;
    align-items: center;
    border: 1px solid #333;
    border-radius: 12px;
    padding: 12px;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 10px;
    justify-content: space-between;


}
.continue-btn:hover{
    background: #252525;

}
.ig-icon{
    width: 55px;
    height: 55px;
    border-radius: 8px;
}
.continue-text{
    color: white;
    font-size: 14px;
    font-weight: medium;

}
.arrow{
    color: gray;
}
.qr-box{
    position: fixed;
    right: 30px;
    bottom: 30px;
    text-align: center;
    font-size: 13px;
    color: gray;
    display: block;

}
.footer{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin: 100px auto;
    width: 90%;
    color: gray;
    font-size: 12px;
}
.qr-img{
    width: 150px;

}
.footer a{
    color: gray;
    text-decoration: none;
}
footer a:hover{
    color: gray;
    text-decoration: underline;
}
@media (max-width: 768px) {
    .top-img{
        display: none;
    }
    .qr-box{
        display: none;
    }
    .logo-img-container{
        display: block;
    }
}